<form action="#">
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" ng-model="ctrl.card.src" type="text" id="src">
    <label class="mdl-textfield__label" for="src">Image</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" ng-model="ctrl.card.title" type="text" id="title">
    <label class="mdl-textfield__label" for="title">Title</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" ng-model="ctrl.card.content" type="text" id="content">
    <label class="mdl-textfield__label" for="content">Content</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" ng-model="ctrl.card.link" type="text" id="link">
    <label class="mdl-textfield__label" for="link">Link</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" ng-model="ctrl.card.linkTitle" type="text" id="linkTitle">
    <label class="mdl-textfield__label" for="linkTitle">Link Title</label>
  </div>
  <button class="mdl-button mdl-js-button mdl-button--raised">
  Cadastrar
  </button>
</form>
