<div class="mdl-cell">
  <form name="testForm">
    <div>
      <input type="text" placeholder="image" ng-model="cardForm.image"/>
    </div>
    <div>
      <input type="text" placeholder="title" ng-model="cardForm.title"/>
    </div>
    <div>
      <input type="text" placeholder="content" ng-model="cardForm.content"/>
    </div>
    <div>
      <input type="text" placeholder="link" ng-model="cardForm.link"/>
    </div>
    <button ng-click="cardCtlr.adicionarCard()">Enviar</button>
  </form>
</div>
